<a href="https://colab.research.google.com/github/cindysame179/Data-Analytics-Work/blob/main/carspandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Cindy Juan Homework 2
#**1**
Takes the raw data set from github and labels the corresponding headers

In [2]:
import pandas as pd
#(1)Takes the raw data set from github and labels the corresponding headers
df = pd.read_csv('https://raw.githubusercontent.com/cindysame179/Data-Analytics-Work/main/cars-sample35.csv', names = ['price','Maintenance cost','Number of doors','Number of passengers','Luggage capacity', 'safety rating', 'Classification of vehicle'])
df.head()

,price,Maintenance cost,Number of doors,Number of passengers,Luggage capacity,safety rating,Classification of vehicle
0,high,high,2,4,med,low,unacc
1,high,high,4,more,small,high,acc
2,high,high,4,more,big,low,unacc
3,high,low,2,more,big,high,acc
4,vhigh,low,3,2,med,med,unacc

#**2**
Extracts each of the seven attributes into their own individual lists

In [5]:

#list of prices
priceL = df.iloc[:,0].copy()

#list of Maintenance Cost
MCL = df.iloc[:,1].copy()

#list of Number of Doors
doorsL = df.iloc[:,2].copy()

#list of Number of Passengers
passengerL = df.iloc[:,3].copy()

#list of Luggage Capacity
luggageL = df.iloc[:,4].copy()

#list of Safety Rating
SRL = df.iloc[:,5].copy()

#list of Classification of vehicle
classificationL = df.iloc[:,6].copy()

priceL.head()

0     high
1     high
2     high
3     high
4    vhigh
Name: price, dtype: object

#**3**
Finds the index values of each automobile that has a price rating of 'med' without using list comprehension. Resulting indices are placed in the list PriceMedL

In [47]:
PriceMedL = []
for i in range(len(priceL)):
  if priceL[i] == 'med':
    PriceMedL.append(i)
print(PriceMedL)

[6, 16, 20, 23, 26, 29]

#**4**
Finds the Number of Passengers value for the automobiles that have a price value of 'med' without using list comprehension.
Results are placed into the list PassengerMedL.

In [48]:
PassengerMedL = []
for i in PriceMedL:
  PassengerMedL.append(passengerL[i])
print(PassengerMedL)

['more', '2', '2', '2', '4', '2']

#**5**
Finds the index value for each Automobile that has a price value of 'high' and maintenance value that is not 'low' without using list comprehension. Results are place in the HighNotLow list.

In [49]:
carsub = df.iloc[:,[0,1]].copy()
HighNotLow = []
for i in range(len(carsub)):
  if (carsub['price'][i] == 'high') & (carsub['Maintenance cost'][i] != 'low'):
    HighNotLow.append(i)
print(HighNotLow)

[0, 1, 2, 27, 31]

#**6**
Finds the index values of each automobile that has a price rating of 'med' using list comprehension. Resulting indices are placed in the list PriceMedLC

In [55]:
#(6)
PriceMedLC = [i for i in range(len(priceL)) if priceL[i]=='med']
print(PriceMedLC)

[6, 16, 20, 23, 26, 29]

#**7**
Finds the Number of Passengers value for the automobiles that have a price value of 'med' using list comprehension.
Results are placed into the list PassengerMedLC.

In [56]:
#(7)
PassengerMedLC = [passengerL[i] for i in PriceMedL]
print(PassengerMedLC)

['more', '2', '2', '2', '4', '2']

#**8**
Finds the index value for each Automobile that has a price value of 'high' and maintenance value that is not 'low' using list comprehension. Utilizes the previously created sublist carsub. Results are place in the HighNotLowLC list.

In [54]:
#(8)
HighNotLowLC = [i for i in range(len(carsub)) if (carsub['price'][i] == 'high') & (carsub['Maintenance cost'][i] != 'low')]
print(HighNotLowLC)

[0, 1, 2, 27, 31]

#**Nested List Comprehension**

Extracts each individual element of the component lists contained within nlist into the new list 'list2' using a nested list comprehension

In [53]:
#Nested List Comprehension
nlist = [ [1, 2, 3], ['A', 'B', 'C'], [4, 5], ['D', 'E'] ]
list2 = [j for i in nlist for j in i]
print(list2)

[1, 2, 3, 'A', 'B', 'C', 4, 5, 'D', 'E']